
<div class="container">
    <div class='page'>
        <div class='role'><h4>Auctioneer</h4></div>
        <div class="operations">
            <div class="input-group mb-3">
                <button class="btn btn-outline-primary" type="button" id="button-addon1" onClick="App.callerD(2)">Check If Auction Ended</button>
            </div>
        </div>
        <!--<div class='content'>Content</div>
        <div class='footer'>Footer</div>-->
    </div>
    <div class='page'>
        <div class='role'><h4>Owner</h4></div>
        <div class="operations">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                        <button class="btn btn-outline-primary" type="button" id="button-addon1" onClick="App.callerD(1)">Create Auction</button>
                </div>
                <input type="text" class="form-control" placeholder="Auctioneer address" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
    </div>
    <div class='page'>
        <div class='role'><h4>Bidder</h4></div>
        <div class="operations">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-primary" type="button" id="button-addon1" onClick="App.callerD(3)">Bid</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class='page'>
        <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Getter methods</a>
            <div class="dropdown-menu">
                <div class="dropdown-header">TIME RELATED</div>
                <a href="#" class="dropdown-item" onClick="App.getD(1)">Current Phase</a>
                <a href="#" class="dropdown-item" onClick="App.getD(2)">Duration</a>
                <div class="dropdown-header">PRICE</div>
                <a href="#" class="dropdown-item" onClick="App.getD(3)">Start and Reserve Prices</a>
                <a href="#" class="dropdown-item" onClick="App.getD(4)">Current Price</a>
                <a href="#" class="dropdown-item" onClick="App.getD(5)">Decrease Logic</a>
            </div>
            <div>
                Getter method result: 
                <strong id="getterResult">None</strong>
            </div>
            <div>
                Latest main method call result: 
                <strong id="methodResult">None</strong>
            </div>
            <br>
            <div class="row">
                <div class="form-group col-xs-3">
                    Gas Limit (wei):
                    <input type="text" class="form-control" value="3000000" aria-label="Username" aria-describedby="basic-addon1" id="gasLimit">
                    (wei)
                </div>
            </div>
        </div>
    </div>
    <div class='page liveStats'>
        <button class="btn btn-outline-secondary refreshButton", onClick="App.refreshD()">
            <img src="assets/refresh.png" height="15"/>
        </button>
        <div><h3>Live Auction info</h3></div>
        <p>CurrentPrice: <strong id='currentPrice'>None</strong></p> 
        <p>Auction Owner: <strong id='ownerAddr'>None</strong></p> 
        <p>Auctioneer: <strong id='auctAddr'>None</strong></p> 
        <p>
            <img id="newSpam" src="assets/new.png" height="30" style="display: none"/>
            LatestEvent: 
            <strong id='eventSink'></strong> 
        </p> 
        <p>
            Event data: 
            <strong>None</strong>
        </p>
    </div>
</div>