<div class="container">
    <div class='page'>
        <div class='role'><h4>Auctioneer</h4></div>
        <div class="operations">
                <div class="input-group mb-3">
                    <button class="btn btn-outline-primary" type="button" id="button-addon1">Change Auction Phase</button>
                </div>
        </div>
        <!--<div class='content'>Content</div>
        <div class='footer'>Footer</div>-->
    </div>
    <div class='page'>
        <div class='role'><h4>Owner</h4></div>
        <div class="operations">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                        <button class="btn btn-outline-primary" type="button" id="button-addon1">Create Auction</button>
                </div>
                <input type="text" class="form-control" placeholder="Auctioneer address" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <button class="btn btn-outline-primary" type="button" id="button-addon1">Change Auction Phase</button>
            </div>
            <div class="input-group mb-3">
                <button class="btn btn-outline-primary" type="button" id="button-addon1">Finalize</button>
            </div>
        </div>
        <!--<div class='content'>Content</div>
        <div class='footer'>Footer</div>-->
    </div>
    <div class='page'>
        <div class='role'><h4>Bidder</h4></div>
        <div class="operations">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-primary" type="button" id="button-addon1">Bid</button>
                </div>
                <input type="text" class="form-control" placeholder="hash" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <button class="btn btn-outline-primary" type="button" id="button-addon1">Withdraw</button>
            </div>
            <div class="input-group mb-3">
                <button class="btn btn-outline-primary" type="button" id="button-addon1">Open</button>
            </div>
        </div>
        <!--<div class='content'>Content</div>
        <div class='footer'>Footer</div>-->
    </div>
</div>
<div class="container">
    <div class='page'>
        <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Getter methods</a>
            <div class="dropdown-menu">
                <div class="dropdown-header">TIME RELATED</div>
                <a href="#" class="dropdown-item">Current Phase</a>
                <a href="#" class="dropdown-item">Grace Period Duration</a>
                <a href="#" class="dropdown-item">Commitment Phase Duration</a>
                <a href="#" class="dropdown-item">Withdrawal Phase Duration</a>
                <a href="#" class="dropdown-item">Opening Phase Duration</a>
                <div class="dropdown-header">EXAMPLE</div>
                <a href="#" class="dropdown-item" onClick="$('#getterResult').html('<h3>Ciao</h3>')">Action</a>
                <div class="dropdown-header">COMMITMENT</div>
                <a href="#" class="dropdown-item">Commitment Status (owner only)</a>
            </div>
            <div id="getterResult"></div>
        </div>
    </div>
    <div class='page liveStats'>
        <h3>Live Auction info</h3>
        <p>Current Winner: <strong id='currentWinner'>asd</strong></p> 
        <p>Auction Owner: <strong id='ownerAddr'>asd</strong></p> 
        <p>Auctioneer: <strong id='auctAddr'>asd</strong></p> 
    </div>
</div>