
<div class="container">
        <div class='page'>
            <div class='role'><h4>Auctioneer</h4></div>
            <div class="operations">
                <div class="input-group mb-3">
                    <button class="btn btn-outline-primary" type="button" onClick="App.callerV(1)">Change Auction Phase</button>
                </div>
            </div>
        </div>
        <div class='page'>
            <div class='role'><h4>Owner</h4></div>
            <div class="operations">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                            <button class="btn btn-outline-primary" type="button" onClick="App.callerV(2)">Create Auction</button>
                    </div>
                    <input type="text" class="form-control" placeholder="Auctioneer address" aria-label="Username" aria-describedby="basic-addon1" id="createInput">
                </div>
                <div class="input-group mb-3">
                    <button class="btn btn-outline-primary" type="button" onClick="App.callerV(1)">Change Auction Phase</button>
                </div>
                <div class="input-group mb-3">
                    <button class="btn btn-outline-primary" type="button" onClick="App.callerV(3)">Finalize</button>
                </div>
            </div>
        </div>
        <div class='page'>
            <div class='role'><h4>Bidder</h4></div>
            <div class="operations">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-primary" type="button" onClick="App.callerV(4)">Bid</button>
                    </div>
                    <input type="text" class="form-control" placeholder="value (wei)" aria-label="Username" aria-describedby="basic-addon1" id="valueIn">
                </div>
                <div class="input-group mb-3">
                    <button class="btn btn-outline-primary" type="button" onClick="App.callerV(5)">Withdraw</button>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-primary" type="button" onClick="App.callerV(4)">Open</button>
                    </div>
                    <input type="text" class="form-control" placeholder="Reserve Price (wei)" aria-label="Username" aria-describedby="basic-addon1" id="valueIn">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class='page'>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Getter methods</a>
                <div class="dropdown-menu">
                    <div class="dropdown-header">TIME RELATED</div>
                    <a href="#" class="dropdown-item" onClick="App.getV(1)">Current Phase</a>
                    <a href="#" class="dropdown-item" onClick="App.getV(2)">Durations</a>
                    <div class="dropdown-header">COMMITMENT</div>
                    <a href="#" class="dropdown-item" onClick="App.getV(3)">Commitment Status (bidder only)</a>
                    <div class="dropdown-header">PRICE</div>
                    <a href="#" class="dropdown-item" onClick="App.getV(4)">Reserve Price and Deposit</a>
                </div>
            </div>
            <div>
                Getter method result: 
                <strong id="getterResult">None</strong>
            </div>
            <div>
                Latest main method call result: 
                <strong id="methodResult">None</strong>
            </div>
            <br>
            <div class="row">
                <div class="form-group col-xs-3">
                    Gas Limit (wei):
                    <input type="text" class="form-control" value="3000000" aria-label="Username" aria-describedby="basic-addon1" id="gasLimit">
                </div>
            </div>
        </div>
        <div class='page liveStats'>
            <button class="btn btn-outline-secondary refreshButton" onClick="App.refreshV()">
                <img src="assets/refresh.png" height="15"/>
            </button>
            <div><h3>Live Auction info</h3></div>
            <p>Current Winner: <strong id='currentWinner'>None</strong></p> 
            <p>Auction Owner: <strong id='ownerAddr'>None</strong></p> 
            <p>Auctioneer: <strong id='auctAddr'>None</strong></p> 
            <p>
                <img id="newSpam" src="assets/new.png" height="30" style="display: none"/>
                LatestEvent: 
                <strong id='eventSink'></strong> 
            </p> 
            <p>
                Event data: 
                <strong id="eventData">None</strong>
            </p>
        </div>
    </div>